!.env.example
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
*$py.class
**/.vitepress/cache
**/.vitepress/dist
*.cover
*.egg
*.egg-info/
*.exe
*.iws
*.lcov
*.log
*.manifest
*.mo
*.pid
*.pid.lock
*.pot
*.py.cover
*.py[codz]
*.sage.py
*.seed
*.so
*.spec
*.tgz
*.tsbuildinfo
.Python
.abstra/
.cache
.cache/
.coverage
.coverage.*
.data/
.dmypy.json
.docusaurus
.dynamodb/
.eggs/
.env
.env.*
.envrc
.eslintcache
.firebase/
.fusebox/
.grunt
.hypothesis/
.idea/**/aws.xml
.idea/**/contentModel.xml
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/dataSources/
.idea/**/dbnavigator.xml
.idea/**/dictionaries
.idea/**/dynamic.xml
.idea/**/gradle.xml
.idea/**/libraries
.idea/**/mongoSettings.xml
.idea/**/shelf
.idea/**/sqlDataSources.xml
.idea/**/tasks.xml
.idea/**/uiDesigner.xml
.idea/**/usage.statistics.xml
.idea/**/workspace.xml
.idea/.cache/.Apifox_Helper
.idea/ApifoxUploaderProjectSetting.xml
.idea/caches/build_file_checksums.ser
.idea/httpRequests
.idea/replstate.xml
.idea/sonarlint.xml # see https://community.sonarsource.com/t/is-the-file-idea-idea-idea-sonarlint-xml-intended-to-be-under-source-control/121119
.idea/sonarlint/
.idea_modules/
.installed.cfg
.ipynb_checkpoints
.lock-wscript
.mypy_cache/
.next
.node_repl_history
.nox/
.npm
.nuxt
.nyc_output
.parcel-cache
.pdm-build/
.pdm-python
.pixi
.pnp.*
.pybuilder/
.pypirc
.pyre/
.pytest_cache/
.pytype/
.ropeproject
.ruff_cache/
.scrapy
.serverless/
.spyderproject
.spyproject
.streamlit/secrets.toml
.stylelintcache
.svelte-kit/
.temp
.tern-port
.tox/
.venv
.vscode-test
.vuepress/dist
.webassets-cache
.yarn-integrity
.yarn/*
/site
ENV/
MANIFEST
__marimo__/
__pycache__/
__pypackages__/
atlassian-ide-plugin.xml
bower_components
build/
build/Release
celerybeat-schedule
celerybeat.pid
cmake-build-*/
com_crashlytics_export_strings.xml
cover/
coverage
coverage.xml
crashlytics-build.properties
crashlytics.properties
cython_debug/
db.sqlite3
db.sqlite3-journal
develop-eggs/
dist
dist/
dmypy.json
docs/_build/
downloads/
eggs/
env.bak/
env/
fabric.properties
htmlcov/
http-client.private.env.json
instance/
ipython_config.py
jspm_packages/
lerna-debug.log*
lib-cov
lib/
lib64/
local_settings.py
logs
marimo/_lsp/
marimo/_static/
node_modules/
nosetests.xml
npm-debug.log*
out
out/
parts/
pids
pip-delete-this-directory.txt
pip-log.txt
profile_default/
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
sdist/
share/python-wheels/
target/
var/
venv.bak/
venv/
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
web_modules/
wheels/
yarn-debug.log*
yarn-error.log*