$RECYCLE.BIN/
**/*.cer
**/*.crt
**/*.key
**/*.lock
**/*.p12
**/*.pem
**/*.pfx
**/*appsettings*.*.json
**/*local.settings*.*.json
**/.env
**/.env.*
**/.ssh/id_*
**/credentials-*.json
**/credentials.json
**/id_dsa
**/id_rsa
**/secret.json
**/secrets.json
*.7z
*.DS_Store
*.aac
*.apk
*.appsettings*.json
*.avi
*.bak
*.bin
*.bmp
*.cab
*.cache
*.clover
*.coverprofile
*.crt
*.csv
*.cue
*.dbmdl
*.dll
*.dmg
*.doc
*.egg-info/
*.env
*.env.*
*.envrc
*.eot
*.exe
*.flac
*.flv
*.gcov
*.gif
*.gz
*.img
*.iml
*.ipr
*.isl
*.iso
*.iws
*.jpeg
*.jpg
*.key
*.lcov
*.local
*.lock
*.lockb
*.log
*.lst
*.lzma
*.mdf
*.mds
*.mod
*.mov
*.mp3
*.mp4
*.msi
*.ncb
*.odf
*.odg
*.odp
*.ods
*.odt
*.ogg
*.orig
*.otf
*.out
*.p12
*.pak
*.parquet
*.pdb
*.pdf
*.pem
*.png
*.ppt
*.pptx
*.pyc
*.pyd
*.pyo
*.qwoff
*.rar
*.rej
*.rlib
*.rmeta
*.rs.bk
*.sdc
*.secrets
*.so
*.suo
*.svg
*.swp
*.sxc
*.sxd
*.sxi
*.sxw
*.tar
*.tar.Z
*.tar.bz2
*.tar.gz
*.tar.lzma
*.tar.sz
*.tar.xz
*.test
*.tgz
*.tif
*.tmp
*.toast
*.ttf
*.user
*.vcd
*.vs/
*.vsix
*.wav
*.webp
*.wma
*.wmv
*.woff
*.woff2
*.xls
*.xlsx
*.zip
.AppleDouble
.DS_Store/
.LSOverride
.Python/
.Spotlight-V100
.Trashes
._*
.bzr/
.cache-loader/
.cache/
.coverage
.coverage/
.data/
.egg-info/
.env
.env*
.env.*
.eslintcache/
.git/
.gradle/
.hg/
.history/
.idea/
.ipynb_checkpoints
.ipynb_checkpoints/
.jupyter/
.lock-wscript/
.mypy_cache/
.next/
.node_repl_history/
.nuxt/
.nyc_output/
.parcel-cache/
.pnp.js/
.pnp/
.pnpm-debug.log*
.pyre/
.pytest_cache/
.sass-cache/
.svn/
.tox/
.venv/
.vscode/
.yarn-cache/
.yarn/
Cargo.lock
Desktop.ini
Gemfile.lock
Godeps/
System Volume Information/
TestResults/
Thumbs.db
__pycache__/
appsettings*.json
bin/
bower_components/
build/
bun.lockb
composer.lock
coverage.xml
coverage/
dist/
ehthumbs.db
env/
go.sum
go.work
go.work.sum
jspm_packages/
node_modules/
npm-debug.log*
obj/
out/
package-lock.json
pip-wheel-metadata/
pnpm-lock.yaml
target/
vendor/
venv/
yarn-debug.log*
yarn-error.log*
yarn.lock